extends layout

block content
  script(src='http://localhost:8080/socket.io/socket.io.js')

  body
    div.chat-wrapper
      .div.header
        Messages
      div.chat-body
        ul.chat-row
          for message in messages
            li.message #{message.username}: #{message.message}
      div.chat-footer
          input(type='hidden', name='username', id='username', value=username)
          input(type='hidden', name='roomId', id='roomId', value=roomId)
          input.form-control(type='message', name='message', id='message')
          button.btn.btn-primary(id='send_message')
            | Send
